@page "/"

<div class="container">

    <div class="input-group">
        <label>List of items to be copied</label>
        <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>

    <div class="input-group">
        <label>Format string</label>

        <input type="text" class="form-control"  @bind="inputValue" @bind:event="oninput" />
    </div>

    <div class="row">
        <label>Values for formatting</label>
        <div class="col">
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>

    <div class="alert alert-dark" role="alert">
        Results of format
    </div>
</div>

@code {
    private string inputValue = "HEY THERE";
}


