@page "/multistringformat"
@using System.Text
@inject IJSRuntime JsRuntime

    @if (!string.IsNullOrEmpty(AlertMessage))
    {
        <div class="alert alert-danger" role="alert">
            @AlertMessage
        </div>
    }

    <div class="row">
        <div class="col">
            <div class="alert alert-secondary h-100">
                <div>
                    <label for="exampleFormControlTextarea1">List of original strings</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" @bind="InputString" @bind:event="oninput"></textarea>
                </div>

                <div>
                    <label for="formatString">Format string</label>
                    <div class=" alert alert-info">
                        <p>Supported characters</p>
                        <ul>
                            <li>
                                {0} - Represents an item from the input list
                            </li>
                            <li>
                                {LOWER} - Represents {0}.ToLower()
                            </li>
                            <li>
                                {UPPER} - Represents {0}.ToUpper()
                            </li>
                            <li>
                                {{ get; }} - Represents { get; }
                            </li>
                            <li> {{ {UPPER} }} - Other supported characters can be surrounded by brackets</li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" id="formatString" @bind="FormatString" @bind:event="oninput"/>
                </div>

                <div class="mt-3">
                    <button type="button" class="btn btn-primary" @onclick="GenerateStrings">Generate</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-secondary h-100" role="alert">
                @if (formattedStrings.Count > 0)
                {
                    <div class="btn btn-primary mb-3" @onclick="CopyTextToClipboard">
                        <svg class="feather">
                            <use xlink:href="media/feather-sprite.svg#clipboard" />
                        </svg>
                    </div>
                    
                    <ul class="list-group">
                        @foreach (var formatString in formattedStrings)
                        {
                            <li class="list-group-item">@formatString</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>

@code {
    private string FormatString;
    private string InputString;
    private List<string> formattedStrings = new List<string>();
    private string AlertMessage;
    private string ResultString { get; set; }

    private void GenerateStrings()
    {
        try
        {
            if (string.IsNullOrEmpty(InputString))
            {
                throw new Exception("No input provided");
            }

            formattedStrings = FormattedStringFactory.FormatStrings(InputString, FormatString);

            var sb = new StringBuilder();
            formattedStrings.ForEach(str => sb.AppendLine(str));
            ResultString = sb.ToString();
            // If it's successful remove the alertMessage for next time
            AlertMessage = "";
        }
        catch (Exception ex)
        {
            AlertMessage = ex.Message;
        }
    }

    private async Task CopyTextToClipboard()
    {
        await JsRuntime.InvokeVoidAsync("clipboardCopy", ResultString);
    }

}