<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">String Tools</a>
    <button class="" @onclick="ToggleNavMenu">
        ELLO
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="multistringformat">
                <span class="" aria-hidden="true"></span> Multistring Formatter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="camera">
                <span class="" aria-hidden="true"></span> Camera
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}